@model GenReq.Models.GenRequest

@{
    ViewData["Title"] = "Edit a Content Generation Request";
}

<h1>Edit a Content Generation Request</h1>
<div class="row">
    <p>This request is editable until the Generator begins working on it.</p>
    <p><b>Title</b><br />What is the title or topic of the content you wish to generate? Be as specific as you would like. The GPT will create content based on its understanding of this, in a formatted and clearly-written way.</p>
    <p><b>Actor</b><br />From whose perspective is the content being written? It will be as if a person of your description is writing this content for you. Be as specific as you would like.</p>
</div>

<h4>Content Generation Request</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input asp-for="OwningUserId" type="hidden" />
    <input asp-for="CreatedDate" type="hidden" />
    <input asp-for="GeneratedDate" type="hidden" />
    <input asp-for="Status" type="hidden" />

    <div class="row">
        <div class="col-sm-4">
            <label asp-for="ContentTemplate" class="control-label"></label>
            <select asp-for="ContentTemplate" asp-items="@Html.GetEnumSelectList<ContentTemplates>()" class="form-control"></select>
            <span asp-validation-for="ContentTemplate" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <b>Help creating a Title</b><br />What is the title or topic of the content you wish to generate? Be as specific as you would like. The AI will create content based on its understanding of this, in a formatted and clearly-written way.
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Title" class="control-label"></label>
            <textarea asp-for="Title" class="form-control"></textarea>
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <b>Help creating a Title</b><br />What is the title or topic of the content you wish to generate? Be as specific as you would like. The AI will create content based on its understanding of this, in a formatted and clearly-written way.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <label asp-for="Actor" class="control-label"></label>
            <textarea asp-for="Actor" class="form-control"></textarea>
            <span asp-validation-for="Actor" class="text-danger"></span>
        </div>
        <div class="col-sm-2">
            <b>Help defining the Actor</b><br />Who should the AI pretend to be? It will be as if a person of your description is writing this content for you. Be as specific as you would like.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
