@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Register for content generation first <a href="UserRegistrations/">here</A>.</p>
    <p>View your <a href="GenRequests/">Content Generation Activity</a></p>
    <p>This site uses a Generative Pretrained Transformer (GPT) to generate well-written and structured content. You bring the ideas, we give you a jump start in communicating your thoughts.</p>
</div>
