@{
    ViewData["Title"] = "Home Page";
}

<a href="GenRequests/">New Views</a><br />

@{
    System.Security.Claims.ClaimsPrincipal currentUser = this.User;
    //    You can check the claims directly(without a round trip to the database):
    bool isAdmin = currentUser.IsInRole("Admin");
    string id = currentUser.Identity.ToString();
    Write("auth type=" + this.User.Identity.AuthenticationType);
    Write("<BR>");
    Write("ID=");
    Write(id);
    Write("<BR>");
    Write("Name=");
    Write(currentUser.Identity.Name);
    Write("<BR>");
    Write("AuthenticationType=");
    Write(currentUser.Identity.AuthenticationType);
    //GetUserId(User); // Get user id:
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
