@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>View your <a href="GenRequests/">Content Generation Activity</a></p>
    <p>This site uses a Generative Pretrained Transformer to generate well-written and structured content. You bring the ideas, we give you a jump start in communicating your thoughts.</p>
</div>
