@{
    ViewData["Title"] = "Home Page";
}

<a href="GenRequests/">New Views</a><br />

@{
    System.Security.Claims.ClaimsPrincipal currentUser = this.User;
    Write("Name=");
    Write(currentUser.Identity.Name);
    Write("<BR>");
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
