@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will not give or sell your data to third parties. We may use your data to improve our products or market related products to you. We send your data to third parties which may include GPT owners including OpenAI, Google, Microsoft, and Amazon who may or may not include it in their data models. Logging in and accessing the service through a free or paid account is proof of agreement to this policy.</p>
